* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(30, 54%, 90%);
    line-height: 1.6;

}



img {
    width: 100%;
    display: block;
}


@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'YoungSerif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}


.container {
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;

}

.recipe-card {
    background-color: white;
    max-width: 700px;
    border-radius: 10px;
    padding: 3rem 1rem;
}


.recipe-title {
    font-family: 'YoungSerif', serif;
    color: hsl(14, 45%, 36%);
    margin-bottom: 1rem;
}

h2 {
    font-family: 'YoungSerif', serif;
    color: hsl(14, 45%, 36%);
    margin-bottom: 1rem;
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 2px;
}


.preparation-time h2 {
    font-family: 'Outfit', sans-serif;
}

.preparation-time ul {
    font-family: 'Outfit', sans-serif;
    color: hsl(332, 51%, 32%);
    font-size: 1.1rem;
}

.preparation-time li {
    margin-bottom: 0.5rem;
}

.ingredients ul,
.instructions ol {
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

.ingredients li,
.instructions li {
    margin-bottom: 0.8rem;
}

.instructions strong {
    color: hsl(24, 5%, 18%);
}


hr {
    border: none;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
    margin: 2rem 0;
}

@media (max-width: 600px) {
    .container {
        padding: 0;
    }

    .recipe-card {
        border-radius: 0;
        padding: 1.5rem;
    }

    .recipe-title {
        font-size: 1.6rem;
    }
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.nutrition tr {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition tr:last-child {
    border-bottom: none;

}

.nutrition td {
    padding: 1rem 0;
}

.nutrition td:first-child {
    padding-left: 2rem;

}

.nutrition td:last-child {
    text-align: right;
    padding-right: 2rem;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}